# this file builds from local Dockerfile
services:
  jekyll:
    # image: amirpourmand/al-folio:slim  # commented out to use local build
    build: .
    ports:
      - 8080:8080
      - 35729:35729
    volumes:
      - .:/srv/jekyll
    environment:
      - JEKYLL_ENV=development
